# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
*.tfstate
*.tfplan
crash.log
*.tfstate
*.tfplan
crash.log
# Secrets / clés
*.pem
.env
aws_credentials
# OS/editor noise
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
